/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*** Custom CSS ***/

* {
	box-sizing: border-box;
}

body {	
	margin: auto;
	width: 375px;
	height: 600px;
	border-left: 1px solid #64AF9B;
	border-right: 1px solid #64AF9B;
	border-bottom: 1px solid #64AF9B;
}

#nav {
	width: 375px;
	height: 55px;
	background-color: #64AF9B;
	text-align: center;
	display: flex;
	justify-content: center; 
}

#nav img {
	padding: 8px;
	max-width: 100%;
}

h1 {
	font-family: 'Cuprum', sans-serif;
	font-size: 2em;
	color: #F7FCED;
	margin-top: 14px;
	margin-left: 50px;
	margin-right: 50px;
	max-width: 40%;
}

.map {
	width: 373px;
	height: 400px;
	border: 1px solid #64AF9B;
}

.map img {
	width: 373px;
}

/***.map {
	background-image: url(../busy-bus/map.png);
	background-position-x: center;
	background-position-y: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 420px;
	border-bottom: solid 2px #64AF9B;
	
} ***/


h2 {
	font-family: 'Cuprum', sans-serif;
  }


h2 {
	font-size: 25px;
	font-weight: 700;
	
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 600;
	float: left;

}

section {
	padding-top: 15px;
	padding-bottom: 15px;
}

.line {
	float: left;
	width: 55%;
	margin-right: 10px;
	margin-left: 20px;
}

.time {
	float: right;
	width: 30%;
	margin-right: 20px;
}

.time img {
	width: 20px;
	margin-left: 10px;
}
