/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*** Custom CSS ***/

* {
	box-sizing: border-box;
}

.wrapper {
	margin-right: auto;
	margin-left: auto;
	max-width: 375px;
	height: 667px;
	padding-bottom: 10px;
	border-left: 1px solid #64AF9B;
	border-right: 1px solid #64AF9B;
	border-bottom: 1px solid #64AF9B;
	text-align: center;
}

#status img {
	width: 375px;
}

#nav {
	width: 375px;
	height: 65px;
	background-color: #64AF9B;
	align-content: center;
	display: flex;
	justify-content: center;
}

#nav img {
	margin: 8px;
	max-width: 40px;
	max-height: 40px;
	margin-top: 12px;
}

h1 {
	font-family: 'Cuprum', sans-serif;
	font-size: 2em;
	color: #F7FCED;
	margin-top: 14px;
	margin-left: 60px;
	margin-right: 60px;
	max-width: 40%;
}

.map {
	width: 375px;
	height: 340px;
	border: 1px solid #64AF9B;
	background-image: url(../busy-bus/map.jpg);
	background-position-x: center;
	background-position-y: center;
	background-size: cover;
	background-repeat: no-repeat;

}


h2 {
	font-family: 'Cuprum', sans-serif;
	font-size: 25px;
	font-weight: 700;
	color: #F7FCED;
	align-content: center;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	font-weight: 600;
	float: left;
	color: #3B413C

}

.select {
	height: 60px;
	padding-top: 18px;
	padding-bottom: 10px;
	background-color: #64AF9B;
}

section {
	padding-top: 30px;
	padding-bottom: 20px;

}

ul {
	margin-left: 10px;
}

li {
	width: auto;
	margin-right: 10px;
	margin-left: 8px;
	float: left;
	text-align: start;
}


.line {
	float:left;
	width: 48%;
}

.frequency {
	float: left;
	width: 18%;
}

.arrival {
	float: left;
}

li img {
	width: 18px;
	margin-right: 8px;
	float: left;
}
